<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--{{nombreApp}} {{versionApp}}-->
        <a class="navbar-brand" width="200"><img src="images/logo.png" alt="" class="img-responsive logo-img" width="60"></a>
    </div>
    <!-- /.navbar-header -->
    <!--<header-notification></header-notification>-->
    <ul class="nav navbar-top-links navbar-right">
        <li uib-tooltip="Nueva sugerencia" tooltip-placement="left">
            <!-- <a ui-sref="app.request-new"> -->
            <span uib-dropdown>
                <a href id="simple-dropdown" uib-dropdown-toggle>
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" style="color:white"></i>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li>
                        <a ui-sref="app.request-new">Sugerencia pública</a>
                        <a ui-sref="app.request-new-internal">Sugerencia interna</a>
                    </li>
                </ul>
            </span>
        </li>
        <li uib-tooltip="Sugerencias sin asignar" tooltip-placement="bottom" class="dropdown" uib-dropdown is-in-role="admin">
            <a id="dropdown-notification" uib-dropdown-toggle class="dropdown-toggle" ng-class="{'animated shake' : vm.unassigned > 0}">
                <i class="fa fa-bell"></i>
                <span ng-if="vm.unassigned > 0" class="badge badge-notify">{{vm.unassigned}}</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-notification">
                <li>
                    <a ui-sref="app.request({status: '1'})" ui-sref-opts="{reload: true}">
                        Hay {{vm.unassigned}} sugerencias sin asignar
                    </a>
                </li>
            </ul>
        </li>
        <li uib-tooltip="Sugerencias sin responder" tooltip-placement="bottom" class="dropdown" uib-dropdown is-in-role="admin">
            <a id="dropdown-notification" uib-dropdown-toggle class="dropdown-toggle" ng-class="{'animated shake' : vm.unresponded > 0}">
                <i class="fa fa-clock-o"></i>
                <span ng-if="vm.unresponded > 0" class="badge badge-notify">{{vm.unresponded}}</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-notification">
                <li>
                    <a ui-sref="app.request({status: '3'})" ui-sref-opts="{reload: true}">
                        Hay {{vm.unresponded}} sugerencias sin responder
                    </a>
                </li>
            </ul>
        </li>
        <li uib-tooltip="Mis sugerencias pendientes" tooltip-placement="bottom" class="dropdown" uib-dropdown is-in-role="admin">
            <a id="dropdown-notification-mines" uib-dropdown-toggle class="dropdown-toggle">
                <i class="fa fa-bookmark"></i>
                <span ng-if="vm.myNotificationCount > 0" class="badge badge-notify">{{vm.myNotificationCount}}</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-notification-mines">
                <li>
                    <a ui-sref="app.request-user">
                        Tienes {{vm.myNotificationCount}} sugerencias pendientes
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                {{vm.usuario}}<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a ui-sref="app.user-password"><i class="fa fa-key"></i> Cambiar contraseña</a>
                </li>
                <li>
                    <a ng-click="vm.logout()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <sidebar></sidebar>
</nav>
