<div class="sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li uib-dropdown ui-sref-active="active" ng-repeat="o in opciones">
                <!--<menu-link ng-if="o.opciones.length === 0" opcion="o"></menu-link>
                <menu-toggle ng-if="o.opciones.length > 0" collapsed="collapsed" ng-click="check(o.id)" item-number="{{o.id}}" opcion="o"></menu-toggle>-->
                Menu
            </li>
            <li ng-if="opciones.length === 0">
                Sin opciones disponibles.
            </li>
            <!--<li><a ui-sref="app.category"><i class="fa fa-home"></i> Administración General</a></li>
            <li><a ui-sref="app.subcategory"><i class="fa fa-book"></i> Quejas/Sugerencias</a></li>
            <li><a ui-sref="app.request"><i class="fa fa-folder-open"></i> Mis quejas</a></li>-->
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.user"> <img src="images/icons/MK-02.png" alt="" width="20"> Usuarios</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.request"> <img src="images/icons/MK1-02.png" alt="" width="20"> Sugerencias</a></li>
            <li ui-sref-active="active" is-in-role="['admin', 'user']"><a ui-sref="app.request-user"> <img src="images/icons/MK2-02.png" alt="" width="20"> Mis sugerencias</a></li>
            <li ui-sref-active="active" is-in-role="user"><a ui-sref="app.user-ruta"> <img src="images/icons/MK2-02.png" alt="" width="20"> Mis rutas</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.category"> <img src="images/icons/MK3-02.png" alt="" width="20"> Categorías</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.subcategory"> <img src="images/icons/MK4-02.png" alt="" width="20"> Subcategorías</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.oxxo"> <img src="images/icons/MK5-02.png" alt="" width="20"> Oxxo</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.ruta"> <img src="images/icons/MK6-02.png" alt="" width="20"> Ruta</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.centroEmision"> <img src="images/icons/MK7-02.png" alt="" width="20"> Centro de emisión</a></li>
            <li ui-sref-active="active" is-in-role="admin"><a ui-sref="app.estacion"> <img src="images/icons/MK8-02.png" alt="" width="20"> Estación</a></li>
            <li ui-sref-active="active" is-in-role="['admin', 'auditor']"><a ui-sref="app.report"> <img src="images/icons/MK9-02.png" alt="" width="20"> Reportes</a></li>
            <li ui-sref-active="active" is-in-role="['auditor', 'admin']"><a ui-sref="app.indicator"> <img src="images/icons/MK-02.png" alt="" width="20"> Indicadores</a></li>
            <li ui-sref-active="active" is-in-role="auditor"><a ui-sref="app.employee"> <img src="images/icons/MK-02.png" alt="" width="20"> Empleados</a></li>
    </div>
</div>
