$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$navbar-default-bg: #52c9ed;
$navbar-default-color: #fff;
$navbar-default-brand-color: $navbar-default-color;
@import "compass/css3";

$fa-font-path: "/bower_components/font-awesome/fonts/";
@import "font-awesome/scss/font-awesome";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "angular-ui-router-anim-in-out/scss/anim-in-out.scss";
// endbower

@import "sb-admin-2.scss";
@import "_bootswatch.scss";
@import "login.scss";
@import "_variable.scss";
@import "chat.scss";
@import "site.scss";
@import "bootstrap-chosen.scss";
@import "navbar.scss";
