$navbar-width: 70px;
#feria-public-form{
    background: #fff;
    height: 100vh;
    .navbar-feria{
        height: $navbar-width;
        background: #2fc0da;
        .logo{
            height: $navbar-width;
            margin-left: 40px;
            padding: 5px 0px;
            img{
                height: 100%;
            }
        }
    }
    .control-label, label{
        text-align: left;
        text-transform: uppercase;
    }
}
