$navbar-default-bg: #52c9ed;

#loading-bar {
    pointer-events: all;
    z-index: 99998;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 99998;
    top: 50%;
    left: 50%;
}

#loading-bar-spinner .spinner-icon {
    width: 34px;
    height: 34px;
    border: solid 3px transparent;
    border-top-color: white;
    border-left-color: white;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation: loading-bar-spinner 400ms linear infinite;
    -ms-animation: loading-bar-spinner 400ms linear infinite;
    -o-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}

.typeahead > ul.dropdown-menu {
    height: 50vh;
    overflow-y: auto;
}

body,
html {
    font-family: 'Roboto';
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
}

table > thead > tr > th {
    text-transform: uppercase;
    font-size: 90%;
}

div.form-group > div[class^="col-"] > p {
    margin: 6px 0 0;
    border-bottom: 1px solid gray;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

[uib-datepicker-popup-wrap] {
    padding: 5px 10px;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}

.font-20 {
    font-size: 20px;
}

.font-40 {
    font-size: 40px;
}

span.input-group-addon {
    background: none;
    border: none;
}

.has-error,
.has-success {
    .input-group-addon {
        background: none;
        border: none;
    }
}

.has-error {
    .message-error {
        color: #a41010;
        font-weight: bold;
    }
}

.divider {
    border-bottom: 1px solid #DDD;
}

.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    height: 23vh;
    overflow-y: auto;
    width: 100%;
}

.table-fixed tbody,
.table-fixed td,
.table-fixed th,
.table-fixed thead,
.table-fixed tr {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}

input.no-arrows::-webkit-inner-spin-button,
input.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar-top-links {
    .dropdown-toggle {
        color: white;
    }

    .dropdown.open > .dropdown-toggle,
    a:hover {
        color: #1B3366;
    }

    .dropdown-menu li a,
    a.dropdown-toggle {
        cursor: pointer;
    }
}

.nav > li > div > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.fa.form-control-feedback {
    margin-top: 8px;
}

.pad-bot {
    padding-bottom: 10px;
}

.padd-top-bottom {
    margin: 15px 0;
}

.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

#toast-container {
    margin-top: 55px;
}

textarea {
    resize: none;
}

.request-in-modal {
    padding: 0 15px;
}

.textarea-control {
    height: 120px !important;
    border: 1px solid #c2c2c2 !important;
}

.textarea-control:focus {
    border: 2px solid #337ab7 !important;
    box-shadow: none !important;
}

.uib-datepicker-popup {
    .btn {
        box-shadow: none;
    }
}

.logo-img {
    position: absolute;
    left: 50px;
    top: 2px;
}

.widget {
    padding: 20px;
    background: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(27, 27, 27, 0.62);
    width: 100%;
}

.acsyt-bg {
    background: #365686;
}

.page-header {
    border-bottom: 2px solid #787878;
    margin-top: 0 !important;
    padding: 6px 2px;
    font-size: 28px;
    text-transform: uppercase;
}

.request-data-user {
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
    margin-top: -10px;
    padding-bottom: 11px;
}

.with-border-top {
    border-top: 1px solid #aaa;
    margin-top: 128px;
    padding-top: 10px;
}

.with-border-top2 {
    margin-top: 300px;
    padding-top: 10px;
}

.col-md-6 p {
    margin-bottom: 5px;
}

.with-border-right {
    border-right: 2px solid #787878;
}

.margin-top {
    margin-top: 10px;
}
.margin-bottom {
    margin-bottom: 10px;
}
.margin-left {
    margin-left: 10px;
}
.margin-right {
    margin-right: 10px;
}
.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.badge-notify {
    font-size: 0.7em;
    background: red;
    position: relative;
    top: -10px;
    left: -9px;
}
.sidebar ul li.active{
     a:hover, a:focus, a:visited{
        background: $navbar-default-bg;
    }
}
.sidebar ul li.active{
    background: $navbar-default-bg;
    a{
        color: #f4f4f4;
        img{
            -webkit-filter: brightness(400%);
            filter:brightness(400%);
        }
    }
}

.request-user-info{
    margin: 0px 0px 5px;
}
.info-image-container{
    position: relative;
    .info-image{
        &:nth-child(3){
            width: 410px;
            right: -685px;
            top: 9px;
        }
        display: none;
        width: 320px;
        position: absolute;
        right: -320px;
        top: 0;
        z-index: 999;
    }
    &:hover{
        .info-image{
            display: block;
        }
    }
}

.indicator-chart-1 {
    height: 71vh !important;
}

.indicator-chart-2 {
    height: 30vh !important;
}

.indicator-chart-3 {
    height: 30vh !important;
}

.tree-view{
    ul.marged-level {
        padding-left: 15px;
        margin-left: 15px;
        // border-left: 5px solid #cecece;
        margin-top: -2px
    }
    ul{
        li{
            list-style: none;
            p{
                min-width: 300px;
                min-height: 40px;
                border-radius: 3px;
                border: 3px solid #52c9ed;
                // background: ;
                color: #444;
                font-weight: bold;
                padding: 0;
                padding: 10px;
                margin: 5px;
                position: relative;
                // box-shadow: 0px 2px 3px #949494;
            }
            &.level-2{
                &:first-child{
                    p{
                        cursor: pointer;
                        &:before {
                            content: '';
                            display: block;
                            width: 25px;
                            height: 30px;
                            border-left: 5px solid #cecece;
                            border-bottom: 5px solid #cecece;
                            position: absolute;
                            left: -28px;
                            top: -6px;
                        }
                    }
                }
                p{
                    cursor:pointer;
                    &:before {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 47px;
                        border-left: 5px solid #cecece;
                        border-bottom: 5px solid #cecece;
                        position: absolute;
                        left: -28px;
                        top: -23px;
                    }
                }
            }
        }
    }
}
.normal {
    font-weight: normal;
}
.row.spaced {
    div{
        margin-bottom: 5px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    div[class^="col-"] > button.btn {
        margin-bottom: 10px;
    }
}
