<div ng-cloak>
	<div class="modal-header">
		<button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Delegar queja</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <b>Sugerencia presentada por:</b> {{vm.request.applicant_name + " " + vm.request.applicant_family_name}}
                        </p>
                        <p>
                            <b>Asunto:</b>  {{vm.request.subject}}
                        </p>

                    </div>
                    <div class="col-md-6">
                        <p>
                            <b>Categoría:</b> {{vm.request.category.name}}
                        </p>
                        <p>
                            <b>Subcategoría:</b> {{vm.request.subcategory.name}}
                        </p>
                    </div>
                </div>
				<p><b>Sugerencia:</b></p>
				<p class="request-in-modal">{{vm.request.description}}</p>
				<div class="form">
					<div class="form-group">
						<label class="control-label "><b>Asignar a: </b></label>
						<div class="">
							<ui-select theme="bootstrap" ng-model="vm.user_id">
								<ui-select-match placeholder="Selecciona un usuario">
									<span ng-bind="$select.selected.name + ' ' + $select.selected.family_name + ' ' + '(' + $select.selected.profile.description + ')' + ($select.selected.requestorigin ? ' - ' + $select.selected.requestorigin.name : '') "></span>
								</ui-select-match>
								<ui-select-choices repeat="user.id as user in (vm.users | filter: $select.search)">
									<!-- Estas son las opciones que aparecen en la vista-->
                                    <span ng-bind="user.name + ' ' + user.family_name"></span>
                                    (<span ng-bind="user.profile.description"></span>)
                                    <span ng-bind="user.requestorigin ? ' - ' + user.requestorigin.name : ''"></span>
									<!--(<span ng-bind="user.family_name"></span>)-->
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" type="button" ng-click="vm.cancel()">
			<span class="fa fa-times"></span> Cancelar
		</button>
		<button class="btn btn-success" type="button" ng-click="vm.save(vm.request.id,vm.user_id)" ng-disabled="!vm.user_id">
			<span class="fa fa-plus"></span> Delegar
		</button>
	</div>
</div>
