<div class="row">
    <div class="col-md-12">
        <div class="row form-inline" style="padding-bottom: 10px">
            <div class="col-md-3"  ng-if="vm.puedeFiltrar">
                <div class="form-group">
                    <label for="" class="label-control">Buscar</label>
                    <input type="text" ng-model="vm.pagination.search" ng-change="vm.paginate()" class="form-control">
                </div>
            </div>
            <div class="col-md-3" ng-if="!vm.puedeFiltrar"></div>
            <div class="col-md-4 col-md-offset-5">
                <div class="form-group pull-right">
                    <select name="" id="" class="form-control" ng-model="vm.pagination.itemsPerPage" ng-options="o.value as o.name for o in vm.pagination.itemsPerPageOptions" ng-change="vm.paginate(true)"></select>
                    <label for="" class="label-control">registros de un total de {{vm.pagination.totalRows}}</label>
                </div>
            </div>
        </div>
        <table id="evTable" ng-transclude="" style="margin-bottom: 5px" class="table table-striped table-bordered table-condensed table-responsive" wt-responsive-table>
        </table>
        <div class="text-center" ng-show="(vm.pagination.totalRows / vm.pagination.itemsPerPage) > 1">
            <ul uib-pagination total-items="vm.pagination.totalRows" items-per-page="vm.pagination.itemsPerPage" ng-change="vm.paginate(true)" ng-model="vm.pagination.page" max-size="5" class="pagination-sm" boundary-links="true" force-ellipses="true" first-text="Primero" last-text="&Uacute;ltimo" previous-text="Ant." next-text="Sig."></ul>
        </div>
    </div>
</div>
