<div ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Responder queja</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <b>Queja presentada por:</b> {{vm.request.applicant_name + " " + vm.request.applicant_family_name}}.
                </p>
                <p>
                    <b>Asunto:</b> {{vm.request.category.name + "/" + vm.request.subcategory.name}}
                </p>
                <p>
                    <b>Queja:</b>
                    <span ng-if="vm.request.request_type_id === 1">{{vm.request.data_value[1].value}}</span>
                    <span ng-if="vm.request.request_type_id === 2">{{vm.request.issue.name}}</span>
                </p>
                <p>
                    <b>Resuelto por:</b> {{vm.request.resolved.user.name + ' ' + vm.request.resolved.user.family_name}}
                </p>
                <p>
                    <b>Mensaje de resolución:</b> {{vm.request.resolution}}
                </p>
                <div class="form">
                    <div class="form-group">
                        <label class="control-label "><b>Mensaje de respuesta: </b></label>
                        <textarea class="form-control textarea-control" ng-model="vm.request.response"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.cancel()">
            <span class="fa fa-times"></span> Cancelar
        </button>
        <button class="btn btn-success" type="button" ng-click="vm.respondRequest()" ng-disabled="!vm.request.response">
            <span class="fa fa-reply"></span> Responder
        </button>
    </div>
</div>
