<div class="animated bounceInDown">
    <div class="row">
        <div class="col lg-12">
            <h1 class="page-header">
                <!-- <div class="pull-left">
                    <button type="button" ui-sref="app.centroEmision" class="btn btn-info">
                        Lista <i class="fa fa-list"></i>
                    </button>
                </div> -->
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
    </div>
    <div class="row" ng-form="form" novalidate>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Auditor</label>
                    <div class="col-md-9">
                        <ui-select ng-model="vm.auditor" theme="bootstrap" on-select="vm.preselectEmployees($item)">
                            <ui-select-match placeholder="Seleccione un auditor">
                                <span ng-bind="$select.selected.name + ' ' + $select.selected.family_name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="auditor.id as auditor in (vm.auditors | filter: $select.search) track by auditor.id">
                                <span ng-bind="auditor.name + ' ' + auditor.family_name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Empleados a cargo</label>
                    <div class="col-md-9">
                        <ui-select multiple ng-model="vm.auditorEmployees" theme="bootstrap" sortable="true" close-on-select="false" ng-disabled="!vm.auditor">
                            <ui-select-match placeholder="Seleccione usuarios">{{$item.name}} {{$item.family_name}} {{$item.family_name2}}</ui-select-match>
                            <ui-select-choices repeat="m.id as m in vm.mods" ui-disable-choice="m.boss != null && m.boss.boss_id != vm.auditor">
                                <div ng-bind-html="m.name + ' ' + m.family_name | highlight: $select.search"></div>
                                <small>
                                    Perfil: {{m.profile.description}} <br>
                                    Origen: {{m.requestorigin.description}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-disabled="!vm.auditor || vm.auditorEmployees.length === 0" ng-click="vm.save()">guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
