<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.category" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form" novalidate>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.category.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.category.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Tipo</label>
                    <div class="col-md-9">
                        <ui-select required theme="bootstrap" ng-model="vm.category.category_type_id">
                            <ui-select-match placeholder="Selecciona un tipo de categoría">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.id as item in (vm.categoryTypes | filter: $select.search) track by item.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="item.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <form-field-text name="name" label="Name" ng-model="vm.category.name" ng-required="true"></form-field-text>
                <form-field-text name="description" label="Description" ng-model="vm.category.description" ng-required="true"></form-field-text>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                    <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.category.id">Limpiar</button>
                    <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.category.id">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
