<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" ui-sref="app.centroEmision-new" class="btn btn-circle btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table ev-table collection="vm.centrosEmision">
                <thead>
                    <tr>
                        <!-- <td>Id</td> -->
                        <td>Nombre</td>
                        <td>Dirección</td>
                        <td>Horario</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="centroEmision in $rows">
                        <!-- <td>{{centroEmision.id}}</td> -->
                        <td>{{centroEmision.name}}</td>
                        <td>{{centroEmision.address}}</td>
                        <td>{{centroEmision.opening_hours}}</td>
                        <td>
                            <button class="btn btn-xs btn-warning" ui-sref="app.centroEmision-edit({id: centroEmision.id})">
                                Editar <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
