<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.centroEmision" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.centroEmision.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.centroEmision.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <form-field-text name="name" label="Name" ng-model="vm.centroEmision.name" ng-required="true"></form-field-text>
                <form-field-text name="address" label="Address" ng-model="vm.centroEmision.address" ng-required="true"></form-field-text>
                <form-field-text name="opening_hours" label="Opening Hours" ng-model="vm.centroEmision.opening_hours" ng-required="true"></form-field-text>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                    <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.centroEmision.id">Limpiar</button>
                    <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.centroEmision.id">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
