<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <!-- <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" ui-sref="app.centroEmision-new" class="btn btn-circle btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div> -->
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <pre>{{vm.user | json}}</pre> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="tree-view">
                        <ul>
                            <li>
                                <p>
                                    Auditor: {{vm.user.name}} {{vm.user.family_name}}
                                </p>
                                <ul class="marged-level">
                                    <li class="level-2" ng-repeat="e in vm.user.employees" ui-sref="app.report({employee: e.employee_id})">
                                        <p>
                                            {{e.user.name}} {{e.user.family_name}}
                                        </p>
                                        <!-- <span class="pull-right normal">Rutas: 100, 209, 234, 89, 3</span> -->
                                        <ul ng-if="e.user.rutas.length > 0" ng-click="$event.stopPropagation()">
                                            <li class="level-2" ng-repeat="r in e.user.rutas">
                                                <p>{{r.name}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
