<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.estacion" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.estacion.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.estacion.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <form-field-text name="name" label="Name" ng-model="vm.estacion.name" ng-required="true"></form-field-text>
                <form-field-text name="description" label="Description" ng-model="vm.estacion.description" ng-required="true"></form-field-text>
                <div class="form-group">
                    <label class="col-md-3 control-label">Categoría</label>
                    <div class="col-md-9">
                        <ui-select theme="bootstrap" ng-model="vm.estacion.category_id" required>
                            <ui-select-match placeholder="Selecciona una categoría">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="category.id as category in (vm.categories | filter: $select.search) track by category.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="category.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                    <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.estacion.id">Limpiar</button>
                    <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.estacion.id">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
