<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Distribución sugerencia-estatus
                        </div>
                        <div class="panel-body text-center">
                            <p ng-if="vm.chart.total">Total: {{vm.chart.total}}</p>
                            <div>
                                <canvas ng-if="vm.chart" id="doughnut" class="chart chart-doughnut indicator-chart-1" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-options="vm.chart.options">
                                </canvas>
                                <p ng-if="!vm.chart">{{ 'Sin información disponible' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Distribución sugerencia-categoría públicas
                                </div>
                                <div class="panel-body text-center">
                                    <p ng-if="vm.chart2.total">Total: {{vm.chart2.total}}</p>
                                    <div>
                                        <canvas ng-if="vm.chart2" id="doughnut2" class="chart chart-pie indicator-chart-2" chart-series="vm.chart2.series" chart-data="vm.chart2.data" chart-labels="vm.chart2.labels" chart-options="vm.chart2.options">
                                        </canvas>
                                        <p ng-if="!vm.chart2">{{ 'Sin información disponible' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Distribución sugerencia-categoría internas
                                </div>
                                <div class="panel-body text-center">
                                    <p ng-if="vm.chart4.total">Total: {{vm.chart4.total}}</p>
                                    <div>
                                        <canvas ng-if="vm.chart4" id="doughnut4" class="chart chart-pie indicator-chart-2" chart-series="vm.chart4.series" chart-data="vm.chart4.data" chart-labels="vm.chart4.labels" chart-options="vm.chart4.options">
                                        </canvas>
                                        <p ng-if="!vm.chart4">{{ 'Sin información disponible' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" is-in-role="admin">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Promedio de respuesta por categoría
                                </div>
                                <div class="panel-body text-center">
                                    <canvas ng-if="vm.chart3" id="doughnut3" class="chart chart-bar indicator-chart-3" chart-series="vm.chart3.series" chart-data="vm.chart3.data" chart-labels="vm.chart3.labels" chart-options="vm.chart3.options">
                                    </canvas>
                                    <p ng-if="!vm.chart3">{{ 'Sin información disponible' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
