<div class="login-form">
    <div class="text-center" style="padding:50px 0">
        <div class="logo animated fadeInDown"><img src="images/logo.png" alt=""></div>
        <!-- Main Form -->
        <div class="login-form-1 animated fadeInRight fadeIn">
            <form name="form" ng-submit="vm.login()" id="login-form" class="text-left">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="form-group">
                            <label for="lg_username" class="sr-only">Username</label>
                            <input required="" ng-model="vm.username" type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="lg_password" class="sr-only">Password</label>
                            <input required="" ng-model="vm.password" type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
                        </div>
                    </div>
                    <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary btn-block login-btn">Login</button>
                    <!--<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
                </div>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div>
