<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.oxxo" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.oxxo.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.oxxo.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <form-field-text name="name" label="Nombre" ng-model="vm.oxxo.name" ng-required="true"></form-field-text>
                <form-field-text name="street" label="Calle" ng-model="vm.oxxo.street" ng-required="true"></form-field-text>
                <form-field-text name="number" label="No. exterior" ng-model="vm.oxxo.number" ng-required="true"></form-field-text>
                <form-field-text name="between" label="Entre calles" ng-model="vm.oxxo.between" ng-required="true"></form-field-text>
                <form-field-text name="city" label="Ciudad" ng-model="vm.oxxo.city" ng-required="true"></form-field-text>
                <form-field-text name="neighborhood" label="Colonia" ng-model="vm.oxxo.neighborhood" ng-required="true"></form-field-text>
                <form-field-text name="zip" label="Código postal" ng-model="vm.oxxo.zip" ng-required="true"></form-field-text>
                <form-field-text name="key" label="Clave" ng-model="vm.oxxo.key" ng-required="true"></form-field-text>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                    <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.oxxo.id">Limpiar</button>
                    <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.oxxo.id">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
