<div class="row animated bounceInLeft">
    <div class="col-lg-12">
        <h1 class="page-header">
            <button class="btn btn-warning btn-xs" ng-click="vm.openModal()">
                <i class="fa fa-filter"></i> Filtros
            </button>
            <small>{{vm.tituloPagina}}</small>
        </h1>
    </div>
</div>
<div class="row animated bounceInRight">
    <div class="col-md-12">
        <!-- <div class="row spaced" ng-form="form"> -->
        <p ng-if="!vm.report">Haz click en Filtros para obtener información</p>
        <!-- <div class="col-md-6 col-sm-12">
                <button class="btn btn-warning btn-sm">
                    <i class="fa fa-filter"></i> Filtros
                </button>
                <button class="btn btn-default btn-sm" ng-click="vm.clean()">Limpiar</button>
            </div> -->

        <!-- </div> -->
        <div class="row">
            <div class="form-group">
                <div class="col-md-3 col-md-offset-9" ng-if="vm.report.length > 0">
                    <button class="btn btn-success btn-sm pull-right" ng-click="vm.exportExcel(vm.filter)"><i class="fa fa-file-excel-o"></i> Exportar a excel</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="vm.report.length > 0">
                <!-- <div class="panel panel-primary margin-top">
                    <div class="panel-body"> -->
                        <table class="table-responsive" ev-table collection="vm.report" show-all-items="false" server-pagination="true" total-items="vm.totalItems" on-paginate="vm.paginate($event)" filter="false">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="1" class="text-center">Datos del aquejante</th>
                                    <th colspan="10" class="text-center">Información</th>
                                </tr>
                                <tr>
                                    <th>Id</th>
                                    <th>Información</th>
                                    <th>Origen</th>
                                    <th ng-if="vm.filter.type === 1">Asunto</th>
                                    <th ng-if="vm.filter.type === 1">Sugerencia</th>
                                    <th>Categoría</th>
                                    <th>Subcategoría</th>
                                    <th ng-if="vm.filter.type === 2">Problema</th>
                                    <th>Fecha evento</th>
                                    <th>Fecha captura</th>
                                    <th>Respuesta</th>
                                    <th>Fecha respuesta</th>
                                    <th>Tiempo resp. (minutos)</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in $rows">
                                    <td>{{row.id}}</td>
                                    <td class="text-center">
                                        <button uib-popover-html="vm.requestUserInfo(row)" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs">
                                            <i class="fa fa-user"></i>
                                        </button>
                                    </td>
                                    <td>{{row.origin_name}}</td>
                                    <td ng-if="vm.filter.type === 1">{{row.Asunto}}</td>
                                    <td ng-if="vm.filter.type === 1">{{row.Sugerencia | cut:false:20:'...'}}
                                        <button uib-popover="{{row.Sugerencia}}" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs pull-right"><i class="fa fa-info"></i></button>
                                    </td>
                                    <td>{{row.category_name}}</td>
                                    <td>{{row.subcategory_name}}</td>
                                    <td ng-if="vm.filter.type === 2">{{row.issue_name}}</td>
                                    <td>{{row['Fecha del incidente']}}</td>
                                    <td>{{row.created_at}}</td>
                                    <td class="text-center">
                                        <button uib-popover="{{row.response}}" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs">
                                            <i class="fa fa-info"></i>
                                        </button>
                                    </td>
                                    <td>{{row.response_datetime}}</td>
                                    <td>{{row.response_time}}</td>
                                    <td>
                                        <span class="label" ng-class="{'label-warning':row.status_id == 1,'label-primary':row.status_id == 2,'label-info':row.status_id == 3, 'label-success': row.status_id == 4}">{{row.status_name}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <!-- </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <i class="fa fa-filter"></i> Filtros
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Tipo de sugerencia</label>
                    <ui-select ng-model="vm.filter.type" theme="bootstrap" ng-change="vm.filterCategories(vm.filter.type)">
                        <ui-select-match placeholder="Tipo de sugerencia">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="type.id as type in (vm.types | filter: $select.search) track by type.id">
                            <span ng-bind="type.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label>Fecha de inicio</label>
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup ng-model="vm.filter.start_date" show-weeks="false" ng-focus="vm.startCalendar = !vm.startCalendar" is-open="vm.startCalendar" show-button-bar="false" ng-required="vm.filter.finish_date" name="start_date" placeholder="Fecha de inicio del reporte"
                        class="form-control" datepicker-options="{maxDate:vm.filter.finish_date ? vm.filter.finish_date : vm.today}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.startCalendar = !vm.startCalendar" ng-class="{'btn-primary':vm.startCalendar}">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Fecha de fin</label>
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup ng-model="vm.filter.finish_date" show-weeks="false" ng-focus="vm.finishCalendar = !vm.finishCalendar" is-open="vm.finishCalendar" show-button-bar="false" ng-required="vm.filter.start_date" name="finish_date" placeholder="Fecha de fin del reporte"
                        class="form-control" datepicker-options="{minDate:vm.filter.start_date, maxDate:vm.today}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.finishCalendar = !vm.finishCalendar" ng-class="{'btn-primary':vm.finishCalendar}">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Estatus</label>
                    <ui-select ng-model="vm.filter.status" theme="bootstrap">
                        <ui-select-match placeholder="Estatus">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="stat.id as stat in (vm.status | filter: $select.search) track by stat.id">
                            <span ng-bind="stat.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Categoria</label>
                    <ui-select ng-model="vm.filter.category" theme="bootstrap" ng-change="vm.filterSubcategories(vm.filter.category); vm.filter.subcategory = null">
                        <ui-select-match placeholder="Categoría">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="category.id as category in (vm.categories | filter: $select.search) track by category.id">
                            <span ng-bind="category.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Subcategoria</label>
                    <ui-select ng-model="vm.filter.subcategory" theme="bootstrap" ng-disabled="!vm.filter.category">
                        <ui-select-match placeholder="Subcategoría">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="subcategory.id as subcategory in (vm.subcategories | filter: $select.search) track by subcategory.id">
                            <span ng-bind="subcategory.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Origen</label>
                    <ui-select ng-model="vm.filter.request_origin" theme="bootstrap">
                        <ui-select-match placeholder="Orígen">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="origin.id as origin in (vm.origins | filter: $select.search) track by origin.id">
                            <span ng-bind="origin.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6" is-in-role="auditor">
                <div class="form-group">
                    <label for="" class="control-label">Empleados</label>
                    <ui-select ng-model="vm.filter.employee" theme="bootstrap">
                        <ui-select-match placeholder="Empleado">
                            <span ng-bind="$select.selected.user.name + ' ' + $select.selected.user.family_name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="employee.employee_id as employee in (vm.employees | filter: $select.search) track by employee.employee_id">
                            <span ng-bind="employee.user.name + ' ' + employee.user.family_name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancelar</button>
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">
            <i class="fa fa-search"></i> Generar reporte
        </button>
    </div>
</script>
