<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <b>Tipo</b>
                </span>
                <select ng-model="vm.filter.type" ng-options="type.id as type.name for type in vm.types" ng-change="vm.filterRequests()" class="form-control">
                </select>
            </div>
            <!-- vm.filterRequests() -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table-responsive" ev-table collection="vm.requests" show-all-items="false" server-pagination="true" total-items="vm.totalItems" on-paginate="vm.paginate($event)" filter="false">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="1" class="text-center">Datos del aquejante</th>
                        <th colspan="8" class="text-center">Datos de la sugerencia</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>Información</th>
                        <th>Origen</th>
                        <th ng-if="vm.filter.type === 1">Asunto</th>
                        <th ng-if="vm.filter.type === 1">Sugerencia</th>
                        <th>Categoría</th>
                        <th>Subcategoría</th>
                        <th ng-if="vm.filter.type === 2">Problema</th>
                        <th>Fecha alta</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in $rows">
                        <td>{{request.id}}</td>
                        <td class="text-center">
                            <button uib-popover-html="vm.requestUserInfo(request)" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"></i>
                            </button>
                        </td>
                        <td>{{request.origin.name}}</td>
                        <td ng-if="vm.filter.type === 1">{{request.subject}}</td>
                        <td ng-if="vm.filter.type === 1">{{request.description | cut:false:25:'...'}}
                            <button uib-popover="{{request.description}}" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs pull-right"><i class="fa fa-info"></i></button>
                        </td>
                        <td>{{request.subcategory.category.name}}</td>
                        <td>
                            <p uib-tooltip="{{request.subcategory.name}}">{{request.subcategory.name | cut:true:25:'...'}}</p>
                        </td>
                        <td ng-if="vm.filter.type === 2">{{request.issue.name}}</td>
                        <td>{{request.created_at}}</td>
                        <td>
                            <span class="label" ng-class="{'label-warning':request.status.id == 1,'label-primary':request.status.id == 2,'label-info':request.status.id == 3, 'label-success': request.status.id === 4}">{{request.status.name}}</span>
                        </td>
                        <td>
                            <button uib-tooltip="{{'Detalles'}}" class="btn btn-xs btn-info" ui-sref="app.request-show({id: request.id})">
                                <i class="fa fa-info-circle" aria-hidn="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
