<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button is-in-role="admin" type="button" ui-sref="app.request" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                    <button class="btn btn-primary btn-sm" ng-if="vm.request.status_id < 4" is-in-role="admin" ng-click="vm.delegateRequest(vm.request)">
                        <i class="fa fa-user-plus"></i> Delegar
                    </button>
                    <button class="btn btn-success btn-sm" ng-if="vm.request.status_id === 2" ng-click="vm.resolve(vm.request)">
                        <i class="fa fa-keyboard-o" aria-hidden="true"></i> Resolver sugerencia
                    </button>
                    <button class="btn btn-success btn-sm" ng-if="vm.request.status_id === 3" is-in-role="admin" ng-click="vm.respond(vm.request)">
                        <i class="fa fa-reply" aria-hidden="true"></i> Responder sugerencia
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-if="vm.request">
        <div class="col-md-7 with-border-right">
            <p class="request-data-user">
                Datos del asugerenciante
            </p>
            <div class="col-md-6">
                <p><b>Nombre:</b></p>
                <p> {{vm.request.applicant_name + " " + vm.request.applicant_family_name + " " + vm.request.applicant_name_2}}</p>
                <p><b>Teléfono: </b></p>
                <p> {{vm.request.applicant_phone}}</p>
            </div>
            <div class="col-md-6">
                <p><b>E-mail: </b></p>
                <p> {{vm.request.applicant_email}}</p>
                <div ng-if="vm.request.request_type_id === 1">
                    <p><b>No. de tarjeta: </b></p>
                    <p> {{vm.request.applicant_identifier}}</p>
                </div>
            </div>
            <p class="request-data-user with-border-top">Sugerencia</p>
            <div class="col-md-6">
                <p><b>Tipo de sugerencia: </b></p>
                <p> {{vm.request.type.name}}</p>
                <!-- <p><b>Fecha del suceso: </b></p>
                <p> {{vm.request.event_date}}</p> -->
                <p><b>Fecha de alta de sugerencia: </b></p>
                <p> {{vm.request.created_at}}</p>
                <p><b>Origen: </b></p>
                <p> {{vm.request.origin.name}}</p>
                <p><b>Asignada a: </b></p>
                <p> {{vm.request.assigned.user.name + ' ' + vm.request.assigned.user.family_name}}</p>
                <p><b>Estado: </b></p>
                <p> {{vm.request.status.name}}</p>
                <p><b>Comentario de resolución:</b></p>
                <p> {{vm.request.resolution}}</p>
            </div>
            <div class="col-md-6">
                <p><b>Categoría: </b> {{vm.request.category.name}}</p>
                <!-- <p> </p> -->
                <p><b>Subcategoría: </b>{{vm.request.subcategory.name}}</p>
                <!-- <p> </p> -->
                <div ng-if="vm.request.request_type_id === 2">
                    <p><b>Problema:</b></p>
                    <p>{{vm.request.issue.name}}</p>
                </div>
                <div ng-repeat="row in vm.request.data_value">
                    <p><b>{{row.data.name}}:</b></p>
                    <p>{{row.value}}</p>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <p><b>Descripción:</b></p>
                <p> {{vm.request.description}}</p>
            </div> -->
            <p class="request-data-user with-border-top2">
                Imagen
            </p>
            <div class="col-md-offset-3 col-md-6" style="margin-bottom: 20px">
                <img ng-if="vm.request.image" ng-src="{{vm.displayImage(vm.request.image.uniqueid)}}" alt="" class="img-responsive">
                <div class="text-center" ng-if="!vm.request.image">
                    <p>Sin imagen.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="messages-container">
                <div id="messages-list" ng-if="vm.messages.length > 0">
                    <div>
                        <h4>Mensajes</h4>
                        <hr>
                    </div>
                    <div id="messages">
                        <ol class="chat">
                            <li ng-repeat="msg in vm.messages">
                                <!--<div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false" /></div>-->
                                <div class="msg">
                                    <author>{{msg.name}} {{msg.family_name}}: </author>
                                    <p>{{msg.message}}</p>
                                    <time>{{msg.created_at | date: 'yyyy-MM-dd HH:mm'}}</time>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <hr ng-if="vm.request.status_id !== 4">
                </div>
                <div id="messages-new" ng-if="vm.request.status_id !== 4">
                    <h4>Nuevo mensaje</h4>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" ng-model="vm.message.message" class="form-control" id="" placeholder="Escribe un mensaje" ng-enter="vm.saveMessage()">
                            </div>
                            <div class="col-md-3 margin-top">
                                <button type="submit" class="btn-block btn btn-success" ng-disabled="!vm.message.message" ng-click="vm.saveMessage()">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
