<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.request" class="btn btn-info btn-sm">
                        Lista <i class="fa fa-list"></i>
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form" novalidate>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.request.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.request.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <form-field-text pattern="[a-zA-Z]+" ng-required="true" ng-disabled="vm.request.id" name="applicant_name" label="Nombre" placeholder="Nombre del aquejante" ng-model="vm.request.applicant_name"></form-field-text>
                <form-field-text pattern="[a-zA-Z]+" ng-required="true" ng-disabled="vm.request.id" name="applicant_family_name" label="Apellido paterno" placeholder="Apellido paterno del aquejante" ng-model="vm.request.applicant_family_name"></form-field-text>
                <form-field-text pattern="[a-zA-Z]+" ng-disabled="vm.request.id" name="applicant_family_name2" label="Apellido materno" placeholder="Apellido materno del aquejante" ng-model="vm.request.applicant_family_name_2"></form-field-text>
                <!-- <form-field-text ng-required="true" pattern="\d{8,10}" ng-disabled="vm.request.id" name="applicant_phone" label="Teléfono" placeholder="Teléfono del aquejante (8 a 10 dígitos)" ng-model="vm.request.applicant_phone"></form-field-text> -->
                <form-field-email pattern="(\w|\W)+\@\w+(\-\w+)?\.\w+(\.\w+)?" ng-required="true" ng-disabled="vm.request.id" name="applicant_email" label="E-mail" placeholder="E-mail del aquejante" ng-model="vm.request.applicant_email"></form-field-email>
                <!-- <div class="form-group" ng-class="{'has-error':form.identifier.$invalid, 'has-success': form.identifier.$valid}">
                    <label for="" class="col-md-3 control-label">Identificador</label>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <select tabindex="8" name="" id="" class="form-control" ng-model="vm.identifier" ng-options="o.name for o in vm.identifierOptions">
                                </select>
                            </div>
                            <div class="col-md-8">
                                <input tabindex="9" type="text" class="form-control" ng-model="vm.request.applicant_identifier" ng-required="true" placeholder="{{vm.identifier.placeholder}}" ng-pattern="vm.identifier.pattern" name="identifier">
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="form-group" ng-class="{'has-error':form.event_date.$invalid, 'has-success': form.event_date.$valid}">
                    <label class="col-md-3 control-label">Fecha del incidente</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" uib-datepicker-popup ng-model="vm.request.event_date" datepicker-options="{maxDate: vm.maxDate, showWeeks: false}" ng-click="vm.dpOpened = !vm.dpOpened" is-open="vm.dpOpened" show-button-bar="false" ng-required="true" name="event_date" placeholder="Fecha del incidente" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="vm.dpOpened = !vm.dpOpened">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Categoría</label>
                    <div class="col-md-9">
                        <ui-select required theme="bootstrap" ng-model="vm.request.category" ng-change="vm.categoryChanged(vm.request.category.id); vm.filterRutas(vm.request.category.id); vm.filterEstaciones(vm.request.category.id);">
                            <ui-select-match placeholder="Selecciona una categoría">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="category in (vm.categories | filter: $select.search) track by category.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="category.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Subcategoría</label>
                    <div class="col-md-9">
                        <ui-select required theme="bootstrap" ng-model="vm.request.subcategory" ng-disabled="!vm.request.category" ng-change="vm.request.issue = null; vm.request.data = []">
                            <ui-select-match placeholder="Selecciona una subcategoría">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="subcategory in (vm.request.category.subcategory | filter: $select.search) track by subcategory.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="subcategory.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Problema</label>
                    <div class="col-md-9">
                        <ui-select required theme="bootstrap" ng-model="vm.request.issue" ng-disabled="!vm.request.subcategory" ng-change="vm.prepareRequestData()">
                            <ui-select-match placeholder="Selecciona un problema">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="issue in (vm.request.subcategory.issues | filter: $select.search) track by issue.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="issue.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div ng-repeat="row in vm.request.data">
                    <form-field-text ng-if="row.data.data_type_id === 1" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-text>
                    <form-field-email ng-if="row.data.data_type_id === 2" pattern="(\w|\W)+\@\w+(\-\w+)?\.\w+(\.\w+)?" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-email>
                    <form-field-select  ng-if="row.data.data_type_id === 3" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" catalog="{{row.data.catalog}}" ng-model="row.value" placeholder="{{row.data.placeholder}}"></form-field-select>
                    <form-field-date min-date="vm.minDate" max-date="vm.maxDate" ng-if="row.data.data_type_id === 4" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-date>
                    <form-field-hour ng-if="row.data.data_type_id === 6" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-hour>
                    <form-field-textarea ng-if="row.data.data_type_id === 7" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-textarea>
                    <form-field-typeahead ng-if="row.data.data_type_id === 8" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" catalog="{{row.data.catalog}}" ng-model="row.value" placeholder="{{row.data.placeholder}}"></form-field-typeahead>
                    <form-field-money ng-if="row.data.data_type_id === 9" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value" min="{{row.data.min}}"></form-field-money>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Imagen</label>
                    <div class="col-md-9">
                        <input type="file" ng-model="vm.request.image" accept="image/*" base-sixty-four-input>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.clean()" ng-disabled="vm.request.id">Limpiar</button>
                    <button class="btn btn-success" ng-click="vm.save()" ng-disabled="!form.$valid">
                        <i class="fa fa-floppy-o"></i> Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 10px">
        <div class="col-md-6">
            <div class="col-md-4" ng-if="vm.request.id && vm.request.image">
                <h4>Imagen de la sugerencia</h4>
                <img ng-src="{{vm.displayImage(vm.request.image.uniqueid)}}" alt="" class="img-responsive">
            </div>
            <div class="col-md-4" ng-if="!vm.request.id && vm.request.image">
                <h4>Imagen por subir</h4>
                <img ng-src="data:image/jpeg;base64,{{vm.request.image.base64}}" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
