<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-circle btn-xs btn-success" uib-dropdown-toggle>
                            <i class="fa fa-plus"></i>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li>
                                <a ui-sref="app.request-new" style="text-transform: initial;">Nueva sugerencia pública</a>
                                <a ui-sref="app.request-new-internal" style="text-transform: initial;">Nueva sugerencia interna</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <b>Tipo</b>
                </span>
                <select ng-model="vm.filter.type" ng-options="type.id as type.name for type in vm.types" ng-change="vm.filterRequests()" class="form-control">
                </select>
            </div>
            <!-- vm.filterRequests() -->
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <b>Estatus</b>
                </span>
                <!--select ng-model="vm.filter.status" ng-options="stat.id as stat.name for stat in vm.status" ng-change="vm.filterRequests()" class="form-control">
                </select-->
                <button class="btn btn-primary" style="margin-right: 10px" ng-click="vm.filter.status=2; vm.filterRequests()">Asignadas</button>
                <button class="btn btn-success" ng-click="vm.filter.status=4; vm.filterRequests()">Respondidas</button>
            </div>
            <!-- vm.filterRequests() -->
        </div>
    </div>
    <div class="row" ng-show="vm.requests.length > 0">
        <div class="col-md-12">
            <table class="table-responsive" ev-table collection="vm.requests" show-all-items="false" server-pagination="true" total-items="vm.totalItems" on-paginate="vm.paginate($event)" filter="false">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center">Aquejante</th>
                        <th colspan="8" class="text-center">Datos de la sugerencia</th>
                    </tr>
                    <tr>
                        <th>Id</th>
                        <th>información</th>
                        <th>Origen</th>
                        <th ng-if="vm.filter.type === 1">Asunto</th>
                        <th ng-if="vm.filter.type === 1">Sugerencia</th>
                        <th>Categoría</th>
                        <th>Subcategoría</th>
                        <th ng-if="vm.filter.type === 2">Problema</th>
                        <th>Fecha alta</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in $rows">
                        <td>{{request.id}}</td>
                        <td class="text-center">
                            <button uib-popover-html="vm.requestUserInfo(request)" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"></i>
                            </button>
                        </td>
                        <td>{{request.origin.name}}</td>
                        <td ng-if="vm.filter.type === 1">{{request.subject}}</td>
                        <td ng-if="vm.filter.type === 1">{{request.description | cut:false:25:'...'}}
                            <button uib-popover="{{request.description}}" popover-append-to-body="true" popover-trigger="'outsideClick'" popover-placement="bottom" class="btn btn-primary btn-xs pull-right"><i class="fa fa-info"></i></button>
                        </td>
                        <td>{{request.subcategory.category.name}}</td>
                        <td>
                            <p uib-tooltip="{{request.subcategory.name}}">{{request.subcategory.name | cut:true:25:'...'}}</p>
                        </td>
                        <td ng-if="vm.filter.type === 2">{{request.issue.name}}</td>
                        <td>{{request.created_at}}</td>
                        <td>
                            <span uib-tooltip="{{request.tooltip}}" class="label" ng-class="{'label-warning':request.status.id == 1,'label-primary':request.status.id == 2,'label-info':request.status.id == 3, 'label-success': request.status.id === 4}">{{request.status.name}}</span>
                        </td>
                        <td>
                            <button uib-tooltip="{{'Detalles'}}" class="btn btn-xs btn-info" ui-sref="app.request-show({id: request.id})">
                                <i class="fa fa-info-circle" aria-hidn="true"></i>
                            </button>
                            <button uib-tooltip="{{'Delegar'}}" ng-if="request.status_id !== 4" class="btn btn-xs btn-primary" ng-click="vm.delegateRequest(request)">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </button>
                            <button uib-tooltip="{{'Responder'}}" class="btn btn-xs btn-success" ng-if="request.status_id === 3" ng-click="vm.respondRequest(request)">
                                <i class="fa fa-reply" aria-hidn="true"></i>
                            </button>
                            <!--<button uib-tooltip="{{'Editar'}}" ng-if="request.status_id !== 3" class="btn btn-xs btn-warning" ui-sref="app.request-edit({id: request.id})">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
