<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <div class="pull-left">
                <button type="button" ui-sref="app.ruta" class="btn btn-info btn-sm">
                    <i class="fa fa-list"></i> Lista
                </button>
            </div>
            <small class="margin-left">{{vm.tituloPagina}}</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row" ng-form="form">
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group" ng-show="vm.ruta.id">
                <label class="col-md-3 control-label">ID</label>
                <div class="col-md-9">
                    <input ng-model="vm.ruta.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                </div>
            </div>
            <form-field-text ng-required="true" name="name" label="Name" ng-model="vm.ruta.name"></form-field-text>
            <form-field-text ng-required="true" name="description" label="Grupo de ruta" ng-model="vm.ruta.description"></form-field-text>
            <div class="form-group">
                <label class="col-md-3 control-label">Categoría</label>
                <div class="col-md-9">
                    <ui-select theme="bootstrap" ng-model="vm.ruta.category_id">
                        <ui-select-match placeholder="Selecciona una categoría">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="category.id as category in (vm.categories | filter: $select.search) track by category.id">
                            <!-- Estas son las opciones que aparecen en la vista-->
                            <span ng-bind="category.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Usuario a cargo</label>
                <div class="col-md-9">
                    <ui-select theme="bootstrap" ng-model="vm.ruta.user_id" required>
                        <ui-select-match placeholder="Selecciona un usuario">
                            <span ng-bind="$select.selected.name + ' ' + $select.selected.family_name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="user.id as user in (vm.users | filter: $select.search) track by user.id">
                            <!-- Estas son las opciones que aparecen en la vista-->
                            <span ng-bind="user.name + ' ' + user.family_name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.ruta.id">Limpiar</button>
                <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.ruta.id">Eliminar</button>
            </div>
        </div>
    </div>
</div>
