<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.subcategory" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.subcategory.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.subcategory.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <form-field-text ng-required="true" name="name" label="Name" ng-model="vm.subcategory.name"></form-field-text>
                <div class="form-group">
                    <label class="col-md-3 control-label">Categoría</label>
                    <div class="col-md-9">
                        <ui-select ng-model="vm.subcategory.category" theme="bootstrap" required>
                            <ui-select-match placeholder="Selecciona una categoría">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="category in (vm.categories | filter: $select.search) track by category.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="category.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <form-field-text name="description" label="Description" ng-model="vm.subcategory.description"></form-field-text>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                    <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.subcategory.id">Limpiar</button>
                    <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.subcategory.id">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
