<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <div class="pull-left">
                    <button type="button" ui-sref="app.user" class="btn btn-info btn-sm">
                        <i class="fa fa-list"></i> Lista
                    </button>
                </div>
                <small class="margin-left">{{vm.tituloPagina}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group" ng-show="vm.user.id">
                    <label class="col-md-3 control-label">ID</label>
                    <div class="col-md-9">
                        <input ng-model="vm.user.id" disabled="disabled" name="ID" type="text" placeholder="ID" class="form-control">
                    </div>
                </div>
                <form-field-text pattern="^[a-zA-Z\s]*$" ng-required="true" name="name" label="Nombre" ng-model="vm.user.name"></form-field-text>
                <form-field-text pattern="^[a-zA-Z\s]*$" ng-required="true" name="family_name" label="Apellido paterno" ng-model="vm.user.family_name"></form-field-text>
                <form-field-text pattern="^[a-zA-Z\s]*$" ng-required="false" name="family_name_2" label="Apellido materno" ng-model="vm.user.family_name_2"></form-field-text>
                <form-field-email pattern="(\w|\W)+\@\w+\.\w+(\.\w+)?" ng-required="true" name="email" label="Email" ng-model="vm.user.email"></form-field-email>
                <form-field-text ng-required="true" name="username" label="Usuario" ng-model="vm.user.username"></form-field-text>
                <form-field-text ng-required="true" name="password" type="password" label="Contraseña" ng-model="vm.user.password" ng-if="!vm.user.id"></form-field-text>
                <div class="form-group">
                    <label class="col-md-3 control-label">Perfil</label>
                    <div class="col-md-9">
                        <ui-select ng-model="vm.user.profile_id" theme="bootstrap" required>
                            <ui-select-match placeholder="Selecciona un perfil de trabajo">
                                <span ng-bind="$select.selected.description"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="profile.id as profile in (vm.profiles | filter: $select.search) track by profile.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="profile.description"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Lugar de trabajo</label>
                    <div class="col-md-9">
                        <ui-select  ng-model="vm.user.workingplace_id" theme="bootstrap">
                            <ui-select-match placeholder="Selecciona un lugar de trabajo">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="place.id as place in (vm.workingplaces | filter: $select.search) track by place.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="place.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Puesto de trabajo</label>
                    <div class="col-md-9">
                        <ui-select ng-model="vm.user.jobposition_id" theme="bootstrap" >
                            <ui-select-match placeholder="Selecciona un puesto de trabajo">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="position.id as position in (vm.jobpositions | filter: $select.search) track by position.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="position.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Origen de datos</label>
                    <div class="col-md-9">
                        <ui-select ng-model="vm.user.requestorigin_id" theme="bootstrap" >
                            <ui-select-match placeholder="Selecciona un origen de datos">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="origin.id as origin in (vm.origins | filter: $select.search) track by origin.id">
                                <!-- Estas son las opciones que aparecen en la vista-->
                                <span ng-bind="origin.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>


                <div class="col-md-offset-3 col-md-9">
                </div>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="form.$invalid">Guardar</button>
                    <button class="btn btn-success" ng-click="vm.clean()" ng-disabled="vm.user.id">Limpiar</button>
                    <button class="btn btn-danger" ng-click="vm.delete()" ng-if="vm.user.id">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
