<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <!-- <button type="button" ui-sref="app.centroEmision-new" class="btn btn-circle btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                    </button> -->
                </div>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <pre>{{vm.rutas | json}}</pre> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="tree-view">
                        <ul>
                            <li>
                                <p>
                                    {{vm.user.name}} {{vm.user.family_name}}
                                </p>
                                <ul class="marged-level">
                                    <li class="level-2" ng-repeat="e in vm.rutas">
                                        <p>
                                            {{e.category.name}} - {{e.name}}
                                        </p>
                                    </li>
                                    <li class="level-2" ng-if="vm.rutas.length === 0">
                                        <p>No hay rutas asignadas.</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
