<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.tituloPagina}}</small>
                <div class="pull-left">
                    <button type="button" ng-click="vm.reload()" class="btn btn-circle btn-primary btn-xs">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" ui-sref="app.user-new" class="btn btn-circle btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </h1>
        </div>
    </div>
    <div class="row" ng-show="vm.users.length > 0" ng-class="{'animated bounceInDown': vm.users.length > 0}">
        <div class="col-md-12">
            <table ev-table collection="vm.users">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nombre</td>
                        <td>Apellido paterno</td>
                        <td>Apellido materno</td>
                        <td>Nombre de usuario</td>
                        <td>Email</td>
                        <td>Perfil</td>
                        <td>Origen</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in $rows">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.family_name}}</td>
                        <td>{{user.family_name_2}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.profile.description}}</td>
                        <td>{{user.requestorigin.name}}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-warning" ui-sref="app.user-edit({id: user.id})">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
