<div class="animated bounceInDown">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small class="margin-left">{{vm.pageTitle}}</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row" ng-form="form">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Contraseña anterior</label>
                    <div class="col-md-9">
                        <input ng-model="vm.user.oldPassword" name="oldPassword" type="password" placeholder="Contraseña anterior" class="form-control">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error' : vm.user.newPassword && vm.user.oldPassword && vm.user.newPassword === vm.user.oldPassword}">
                    <label class="col-md-3 control-label">Nueva contraseña</label>
                    <div class="col-md-9">
                        <input ng-model="vm.user.newPassword" name="newPassword" type="password" ng-minlength="6" ng-maxlength="15" placeholder="Nueva contraseña (min. 6 caracteres)" class="form-control">
                        <div class="message-error" ng-show="vm.user.newPassword && vm.user.oldPassword && vm.user.newPassword === vm.user.oldPassword">La nueva contraseña debe ser diferente de la anterior.</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error' : vm.user.reNewPassword && vm.user.newPassword !== vm.user.reNewPassword}">
                    <label class="col-md-3 control-label">Re-ingresa nueva contraseña</label>
                    <div class="col-md-9">
                        <input ng-model="vm.user.reNewPassword" name="reNewPassword" type="password" ng-minlength="6" ng-maxlength="15" placeholder="Re-ingresa nueva contraseña" class="form-control">
                        <div class="message-error" ng-show="vm.user.reNewPassword && vm.user.newPassword !== vm.user.reNewPassword">La contraseña no coincide.</div>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-9" style="margin-top:10px;">
                    <button class="btn btn-default" ng-click="vm.clean()">Limpiar</button>
                    <button class="btn btn-success" ng-click="vm.save()" ng-disabled="form.$invalid || vm.disableChangePassword()">
                        <i class="fa fa-floppy-o"></i> Cambiar contraseña
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
