<div id="feria-public-form">
    <div class="navbar-feria">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>{{vm.tituloPagina}}</small>
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row" ng-form="form" novalidate>
            <div class="col-md-12">
                <div class="row divider">
                    <!-- Datos personales -->
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <form-field-text pattern="[a-zA-Z]+" tab-index="1" ng-required="true" ng-disabled="vm.request.id" name="applicant_name" label="Nombre" placeholder="Nombre" ng-model="vm.request.applicant_name"></form-field-text>
                            <form-field-text pattern="[a-zA-Z]+" tab-index="3" ng-required="true" ng-disabled="vm.request.id" name="applicant_family_name2" label="Apellido materno" placeholder="Apellido materno" ng-model="vm.request.applicant_family_name_2"></form-field-text>
                            <form-field-email tab-index="5" pattern="(\w|\W)+\@\w+\.\w+(\.\w+)?" ng-required="true" ng-disabled="vm.request.id" name="applicant_email" label="E-mail" placeholder="E-mail" ng-model="vm.request.applicant_email"></form-field-email>
                            <div class="form-group" ng-class="{'has-error':form.identifier.$invalid, 'has-success': form.identifier.$valid}">
                                <label for="" class="col-md-3 control-label">{{vm.identifier.name}}</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select tabindex="8" name="" id="" class="form-control" ng-model="vm.identifier" ng-options="o.name for o in vm.identifierOptions">
                                            </select>
                                        </div>
                                        <div class="col-md-8">
                                            <input tabindex="9" type="text" class="form-control" ng-model="vm.request.applicant_identifier" ng-required="true" placeholder="{{vm.identifier.placeholder}}" ng-pattern="vm.identifier.pattern" name="identifier">
                                        </div>
                                        <div class="col-md-1 info-image-container">
                                            <abbr title="Folio/Id">?</abbr>
                                            <img class="info-image" src="images/folio.png" alt="">
                                            <img class="info-image" src="images/num_tarjeta.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <form-field-text pattern="[a-zA-Z]+" tab-index="2" ng-required="true" ng-disabled="vm.request.id" name="applicant_family_name" label="Apellido paterno" placeholder="Apellido paterno" ng-model="vm.request.applicant_family_name"></form-field-text>
                            <form-field-text tab-index="4" ng-required="true" pattern="\d{8,10}" ng-disabled="vm.request.id" name="applicant_phone" label="Teléfono" placeholder="Teléfono (8 a 10 digitos)" ng-model="vm.request.applicant_phone"></form-field-text>
                            <!-- <div class="form-group" ng-class="{'has-error':form.event_date.$invalid, 'has-success': form.event_date.$valid}">
                                <label class="col-md-3 control-label">Fecha del incidente</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input tabindex="6" type="text" uib-datepicker-popup datepicker-options="{maxDate: vm.maxDate}" ng-model="vm.request.event_date" show-weeks="false" ng-click="vm.dpOpened = !vm.dpOpened" is-open="vm.dpOpened" show-button-bar="false" ng-required="true" name="event_date"
                                        placeholder="Fecha del incidente" class="form-control">
                                        <span class="input-group-btn">
                                            <button tabindex="7" class="btn btn-default" type="button" ng-click="vm.dpOpened = !vm.dpOpened">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <!-- Fin datos personales-->

                </div><!-- Row Divider-->
                <div class="row divider margin-top">
                    <div class="col-md-9">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Categoría</label>
                                <div class="col-md-9">
                                    <ui-select required theme="bootstrap" ng-model="vm.request.category" ng-change="vm.categoryChanged(vm.request.category.id)">
                                        <ui-select-match placeholder="Selecciona una categoría">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="category in (vm.categories | filter: $select.search) track by category.id">
                                            <!-- Estas son las opciones que aparecen en la vista-->
                                            <span ng-bind="category.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Subcategoría</label>
                                <div class="col-md-9">
                                    <ui-select required theme="bootstrap" ng-model="vm.request.subcategory" ng-disabled="!vm.request.category"  ng-change="vm.prepareRequestData()">
                                        <ui-select-match placeholder="Selecciona una subcategoría">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="subcategory in (vm.request.category.subcategory | filter: $select.search) track by subcategory.id">
                                            <!-- Estas son las opciones que aparecen en la vista-->
                                            <span ng-bind="subcategory.name"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div ng-repeat="row in vm.request.data">
                                <form-field-text ng-if="row.data.data_type_id === 1" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-text>
                                <form-field-select category-id="vm.request.category.id" skip-authorization="true" ng-if="row.data.data_type_id === 3" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" catalog="{{row.data.catalog}}" ng-model="row.value" placeholder="{{row.data.placeholder}}"></form-field-select>
                                <form-field-date min-date="vm.minDate" max-date="vm.maxDate" ng-if="row.data.data_type_id === 4" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-date>
                                <form-field-textarea maxlength="340" ng-if="row.data.data_type_id === 7" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" ng-model="row.value"></form-field-textarea>
                                <form-field-typeahead skip-authorization="true" ng-if="row.data.data_type_id === 8" ng-required="true" name="{{row.data.form_name}}" label="{{row.data.name}}" catalog="{{row.data.catalog}}" ng-model="row.value" placeholder="{{row.data.placeholder}}"></form-field-typeahead>
                            </div>
                        </div>
                    </div>
                </div><!-- Row Divider-->
                <div class="row divider margin-top padding-bottom">
                    <div class="col-md-9">
                        <div class="form">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Imagen</label>
                                    <input type="file" ng-model="vm.request.image" accept="image/*" base-sixty-four-input>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-9 text-center" ng-if="vm.request.id && vm.request.image">
                                    <!-- <h4>Imagen de la queja</h4> -->
                                    <img ng-src="{{vm.displayImage(vm.request.image.uniqueid)}}" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-9" ng-if="!vm.request.id && vm.request.image">
                                    <!-- <h4>Imagen por subir</h4> -->
                                    <img ng-src="data:image/jpeg;base64,{{vm.request.image.base64}}" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row Divider-->
                <div class="form-group text-center">
                    <div style="margin-top:10px;">
                        <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="!form.$valid">Enviar</button>
                        <button class="btn btn-success" ng-click="vm.clean()" ng-hide="vm.request.id">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
